<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <form method="POST" action="/login">
          <input type="text" placeholder="usuario" name="correo">
    <input type="password" placeholder="contraseña" name="password">
    <button type="submit">Ingresar</button>
  </form>

  </body>
</html>